<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Louisa</title>
  <!--引入css 檔案架構也很重要 記得路徑-->
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}" /> 
</head>
<body>
<!-- partial:index.partial.html -->
<div class="container">
  <div class="left">
  </div>
  <div class="right">
    <div class="banner">
      <h1>LOUISA COFFEE</h1>
    </div>
    <div class="desc">
         因一句“懂得喝義式咖啡才是行家”創辦人黃銘賢初嚐Espresso，強烈風味震撼了味蕾，定下做杯好咖啡的決心。堅持手工烘豆、細細翻動、控制火侯，尋找甜蜜點讓咖啡豆完美釋放風味，歷經四年研發出經典配方，以義大利女神Louisa為名，守護讓所有咖啡愛好者喝杯好咖啡的信念，堅定對精品咖啡文化的熱情，並於2006年創立第一間門市，開啟路易莎精品咖啡連鎖品牌的世界藍圖。
    </div>
  </div>

</div>
<!-- partial -->
</body>
</html>
